* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: dashed 1px black; */
    font-size: 20px;
    font-family: sans-serif;
}


/* Utility---------------------------------- */

a{
    color: white;
    text-decoration: none;
}

h1{
    font-size:  3rem;
}

h2{
    font-size: 2rem;
    margin: 2rem;
}

h3{
    font-size: 1rem;
    margin: 1rem;
}

h4{
    color: #5f73b2;
}

ul{
    list-style-type: none;
    color: white;
}

li{
    line-height: 1rem;
    margin-top: 0.7rem;
}

.hr-div{
    width: 800px;
}

.favicon-radius{
    border-radius: 10px;
}

.m0-p0{
    margin: 0;
    padding: 0;
}

.m-2rem{
    margin: 2rem;
}

.m-1rem{
    margin: 1rem;
}

.m-05rem{
    margin: 0.5rem;
}

.mb-1rem{

    margin-bottom: 1rem;
}
    
.br-50px{
    border-radius: 50px;
}

.p-05rem{
    padding: 0.5rem;
}

.p-1rem{
    padding: 1rem;
}

.margin-block-start{
    margin-block-start: 0px;
}

.backg-black{
    background-color: black;
}

.white-text{
    color: white;
}

.backg-white{
    background: white;
}

.discord-color{
    color: #5f73b2;
}

.text-center{
    text-align: center;
}

.flag-size{
    width: 20px;
}


/* Body -----------------------------------*/

/* Header---------------------------------- */
header{
    background-image: url(../img/jumbo.png); 
    background-repeat: no-repeat;
    background-size:contain;
    height: 750px; 
}

.header-up {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.nav {
    display: flex;
    width: 1140px;
    /* justify-content: center; */
    height: 30px;

}

.link-left{
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.link-center{
    flex-grow: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;  
}

.link-right{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px; 
    background: white;
    border-radius: 50px;
    margin-left: 9rem;
}

.header-bottom {

    justify-content: center;
    padding: 1.5rem;
    display: flex;
}

.banner {
    display: flex;
    width: 800px;
    align-items: center;
    flex-direction: column;
    color: white;
}

.Button-banner {
    display: flex;
    justify-content: center;
}


/* Main--------------------------------------- */

/* Section-1 ------------------*/

.section-1 {
    display: flex;
    justify-content: center;
    padding: 2rem;
    
    
}

.Container-section-1 {
    width: 1140px;
    display: flex;
}


.section-1-left {
    justify-content: center;
    flex-grow: 0.6;
}

.section-1-right {
    justify-content: center;
    flex-grow: 0.4;
}


/* Section-2 ------------------*/

.section-2 {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.Container-section-2 {
    width: 1140px;
    display: flex;
    flex-direction: row-reverse;
}


.section-2-left {
    justify-content: center;
    flex-grow: 0.6;
}

.section-2-right {
    justify-content: center;
    flex-grow: 0.4;
}

/* Section-3 --------------*/

.section-3 {
    display: flex;
    justify-content: center;
    padding: 2rem; 
}

.Container-section-3 {
    width: 1140px;
    display: flex;
    justify-content: center;
}


.section-center-3 {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.button-section-3{
    border-radius: 50px;
    padding: 10px;
    background: #8ea1e1;
    color: white;
    border: none;
}


/* Footer--------------------------------------------- */

.footer-info{
    display: flex;
    justify-content: center;
    padding: 4rem 0 2rem 0;
    background: #23272a;
}

.container-footer-info{
    display:flex;
    width: 1140px; 
}

.big-column-footer-info{
    flex-grow: 2;
}

.little-column-footer-info{
    flex-grow: 1;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    background: #23272a;
}

.footer-box {
    display: flex;
    width: 1140px;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    
}

.footer-item{
    padding: 2px;
}

.button-end-footer{
    border-radius: 50px;
    padding: 10px;
    background: #8ea1e1;
    color: white;
    border: none;
}
